[SddmGreeterTheme]
Name=Windows
Type=sddm-theme
Description=Windows 11 SDDM theme
License=GPL-3.0-or-later
Version=1.4.0
Theme-Id=windows
Theme-API=2.0
MainScript=Main.qml
TranslationsDirectory=translations
QtVersion=6

ConfigFile=configs/windows.conf
